@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap';
body {
    margin: 0;
    font-family: poppins, sans-serif;
    user-select: none
}

#app {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #0b0216;
    min-height: 100vh;
    user-select: none
}

#app * {
    user-select: none
}

.material-icons {
    cursor: pointer
}

.i-button-input {
    width: 90%;
    display: grid;
    grid-template-columns: 10fr 1fr;
    padding: 1em 0
}

.i-button-input>input {
    border-top-left-radius: 3em;
    border-bottom-left-radius: 3em
}

.i-button-input>div {
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center
}

.c-header {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff
}

.c-header .title {
    font-size: 1.5em;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff
}

.c-header img {
    width: 8em;
    height: 8em
}

.c-header .nav-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin-bottom: .5em;
    border-top: 1px solid #fff;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.c-header .nav-bar>div {
    padding-top: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center
}

.c-header .nav-bar>div:hover {
    text-shadow: 0 0 10px #e274fd
}

.c-backface {
    background: linear-gradient(to right, #9800eb 0%, #c66f0c 63%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: .5em;
    border-radius: 1em;
    width: 100%;
    height: 100%
}

.c-backface>.frontface {
    width: 100%;
    height: 100%;
    background-color: #141414;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .5);
    border-radius: 1em;
    position: relative;
    color: #fff
}

.c-button {
    padding: .5em;
    background-color: #ffd95d;
    color: #161616;
    cursor: pointer;
    transition: .5s
}

.c-button:hover {
    color: #fff;
    background-color: #000;
    text-shadow: 0 0 10px #e274fd;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

input {
    font-size: 4vw;
    outline: 0;
    background-color: rgba(179, 179, 179, .5);
    border: 0;
    color: #fff;
    text-align: center
}

::placeholder {
    color: #fff
}

.loader {
    animation: loading 2s infinite ease-in-out
}

@keyframes loading {
    0% {
        transform: rotateZ(0deg)
    }
    50% {
        transform: rotateZ(180deg)
    }
    1000% {
        transform: rotateZ(360deg)
    }
}

@media(min-width:720px),
(min-height:550) {
    .c-header .title {
        font-size: 2em
    }
    input {
        font-size: 1.5vw;
        outline: 0;
        background-color: rgba(179, 179, 179, .5);
        border: 0;
        color: #fff
    }
}