.i-index-display {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2em;
}

.i-index-box {
    margin-top: 2em;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.i-index-box>div {
    margin-top: 1em;
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

video {
    width: 100%;
    height: 100%;
}

.i-button-input>#connection-status {
    grid-column: 1/3;
    width: 100%;
    text-align: center;
}

.i-index-box .webcam-box {
    width: 60vw;
    height: 60vw;
    background-color: aliceblue;
    border-radius: 50%;
    margin: 0.5em 0;
    border: 1em solid rgb(255, 212, 247);
    border-left: 1em solid rgb(255, 137, 235);
    border-right: 1em solid rgb(255, 137, 235);
    box-shadow: 0 0 8px 0 rgb(255, 137, 235), 0 0 1em -1em rgba(0, 0, 0, 0.5);
}

.i-index-box .webcam-box>.webcam-container {
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    border-radius: 50%;
    box-shadow: inset 0 0 px 8px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.i-index-box .webcam-box>.webcam-container>canvas {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.i-index-box #label-view {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    max-height: 40vh;
    overflow-y: auto;
}

.i-index-box .label-shower {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

.i-index-box .label-shower .title {
    width: 90%;
    text-align: center;
    background-color: rgb(58, 58, 58);
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.i-index-box .label-shower .label-base {
    width: 90%;
    text-align: center;
    background-color: rgb(58, 58, 58);
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    height: 1em;
    margin-bottom: 1em;
    border-top: 1px solid white;
}

.i-index-box #label-view>div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em 0;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    background-color: rgb(32, 32, 32);
    box-shadow: 0 1em 2em 1em rgba(0, 0, 0, 1);
    text-align: center;
    cursor: pointer
}

.i-index-box #label-view>div>div {
    width: 100%;
    text-align: center;
}

.i-index-box #label-view>div .button-box {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.i-index-box #label-view>div .button-box .button {
    background-color: rgb(255, 172, 95);
    padding: 0.5em 0;
    cursor: pointer;
}

.i-index-box #label-view>div .button-box .button:nth-child(odd) {
    background-color: rgb(255, 144, 41);
}

#label-output {
    width: 100%;
    margin: 0.5em 0;
    text-align: center;
}

@media (min-width:720px),
(min-height:550) {
    .i-index-box {
        margin-top: 2em;
        margin-left: 2em;
        width: 100%;
        color: white;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .i-index-box .webcam-box {
        width: 20vw;
        height: 20vw;
        background-color: aliceblue;
        border-radius: 50%;
        margin: 0.5em 0;
        border: 1em solid rgb(255, 212, 247);
        border-left: 1em solid rgb(255, 137, 235);
        border-right: 1em solid rgb(255, 137, 235);
        box-shadow: 0 0 8px 0 rgb(255, 137, 235), 0 0 1em -1em rgba(0, 0, 0, 0.5);
    }
    .i-index-box>div {
        width: 90%;
        height: 100%;
    }
}