.main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.camera-box {
    width: 90%;
    color: white;
    margin-top: 0.5em;
}

.webcam {
    width: 60vw;
    height: 60vw;
    background-color: aliceblue;
    border-radius: 50%;
    margin: 0.5em 0;
    border: 1em solid rgb(255, 212, 247);
    border-left: 1em solid rgb(255, 137, 235);
    border-right: 1em solid rgb(255, 137, 235);
    box-shadow: 0 0 8px 0 rgb(255, 137, 235), 0 0 1em -1em rgba(0, 0, 0, 0.5);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#console {
    margin: 1em 0;
}

.webcam video {
    width: 100%;
    height: 100%;
}

.auth-box {
    margin: 1em 0;
    width: 90%;
    height: 90%;
    color: white;
}

#prob-bar {
    background-color: cornflowerblue;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width:750px) {
    .main {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 2em;
    }
    .webcam {
        width: 20vw;
        height: 20vw;
        background-color: aliceblue;
        border-radius: 50%;
        margin: 0.5em 0;
        border: 1em solid rgb(255, 212, 247);
        border-left: 1em solid rgb(255, 137, 235);
        border-right: 1em solid rgb(255, 137, 235);
        box-shadow: 0 0 8px 0 rgb(255, 137, 235), 0 0 1em -1em rgba(0, 0, 0, 0.5);
    }
    .auth-box>div>div {
        justify-content: center;
    }
}