#nav-bar {
    width: 100%;
    display: flex;
    background-color: inherit;
    border-top: 1px solid white;
    background-color: rgb(32, 32, 32);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

#nav-bar>#nav-view {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5em;
}

#nav-view>div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0.5em;
}

#steps {
    margin: 2em;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.8);
}

#steps>div {
    margin-top: 2em;
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    border-radius: 1em;
    overflow: hidden;
    background-color: rgb(83, 81, 81);
}

#step1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#step1>#title {
    background-color: rgb(14, 14, 14);
    color: rgba(255, 255, 255, 0.8);
    font-size: 6vw;
    width: 100%;
    text-align: center;
    padding: 1em;
}

#step1>#sub-title {
    font-size: 5vw;
    width: 100%;
    text-align: center;
}

#step1>#content {
    color: rgb(214, 214, 214);
    width: 80%;
    padding: 0.5em;
}

.note {
    color: rgb(192, 78, 78);
}

.teachable-machines {
    background-color: #3399ff;
    color: white;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
}

iframe {
    height: 40vh;
    margin: 2em;
    border-radius: 1em;
    border: none;
}

@media (min-width:600px) {
    #steps {
        width: 70vw;
    }
    #steps>div>#title {
        padding: 0.5em;
        font-size: 3vw;
    }
    #steps>div>#sub-title {
        font-size: 2vw;
    }
    #step1 {
        border-radius: 4em;
    }
    #step1>#content {
        text-align: center;
    }
    iframe {
        width: 90%;
        margin: 2em;
        border-radius: 1em;
        border: none;
    }
}