#camera-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80vw;
    background-color: rgb(32, 32, 32);
    color: rgba(255, 255, 255, 0.8);
}

#webcam-container {
    position: relative;
    margin-top: 2em;
    width: 50vw;
    height: 50vw;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1em solid rgba(1, 4, 8, 0.9);
    border-left: 1em solid rgb(58, 255, 222);
    box-shadow: 0 0 10px 0 rgb(58, 255, 222), 0 0 20px 0 rgb(0, 0, 0);
    animation: cam-glow 2s ease infinite;
}

@keyframes cam-glow {
    0% {
        box-shadow: 0 0 10px 0 rgb(58, 255, 222), 0 0 20px 10px rgb(0, 0, 0);
    }
    50% {
        box-shadow: 0 0 5px 0 rgb(58, 255, 222), 0 0 20px 10px rgb(0, 0, 0);
    }
    100% {
        box-shadow: 0 0 10px 0 rgb(58, 255, 222), 0 0 20px 10px rgb(0, 0, 0);
    }
}

#webcam-load {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

#loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#load-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 5px solid black;
    border-left: 5px solid white;
    margin: 1em;
}

.loader {
    animation: loading 2s infinite ease;
    transition: 0.5s;
}

@keyframes loading {
    0% {
        transform: rotateZ(0deg);
    }
    50% {
        transform: rotateZ(180deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

#webcam-container>svg {
    position: absolute;
    bottom: 0%;
}

#webcam-container>canvas {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
}

@media screen and (min-width:600px) {
    #camera-box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 60vw;
        background-color: rgb(32, 32, 32);
        color: rgba(255, 255, 255, 0.8);
    }
    #webcam-container {
        margin-top: 3em;
        width: 15vw;
        height: 15vw;
    }
    #webcam-container>svg {
        position: absolute;
        bottom: 0%;
    }
    #webcam-container>canvas {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
    }
}